@font-face {
  font-family: "Rota-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Rota-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Rota-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Rota-Black.otf") format("opentype");
}
@font-face {
  font-family: "Rota-ExtraBlack";
  font-style: normal;
  font-weight: 950;
  src: url("../fonts/Rota-ExtraBlack.otf") format("opentype");
}
@font-face {
  font-family: "Rota-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Rota-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Rota-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Rota-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Arial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Arial.ttf") format("truetype");
}
.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

* {
  box-sizing: border-box;
}
