/* screen - lp-1 */

.lp-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2047px;
  overflow: hidden;
  width: 1920px;
}
.lp-1 .address {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: -0.5px;
  margin-left: 15px;
  min-height: 35px;
  min-width: 103px;
  white-space: nowrap;
}
.lp-1 .background {
  background-color: var(--white);
  height: 2048px;
  left: 2px;
  position: absolute;
  top: 116px;
  width: 1920px;
}
.lp-1 .contact-us {
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -5px;
  min-height: 30px;
  white-space: nowrap;
}
.lp-1 .elevator {
  left: 347px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}
.lp-1 .elevatorapp {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 15px;
  margin-top: 0.76px;
  min-height: 17px;
  min-width: 95px;
  white-space: nowrap;
}
.lp-1 .ellipse-17 {
  background-color: var(--white);
  border-radius: 1.731744408607483px;
  height: 3px;
  left: 7px;
  position: absolute;
  top: 23px;
  width: 3px;
}
.lp-1 .flex-col {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: -3px;
  min-height: 95px;
  width: 140px;
}
.lp-1 .get-started {
  color: var(--white);
  font-family: var(--font-family-rota-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0.80px;
  line-height: 24px;
  min-height: 21px;
  min-width: 108px;
  white-space: nowrap;
}
.lp-1 .group-109 {
  background-image: url(../img/group-108@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 506px;
  margin-bottom: 0;
  width: 1922px;
}
.lp-1 .group-111 {
  align-items: flex-end;
  display: flex;
  overflow: hidden;
  width: 1922px;
}
.lp-1 .group-113 {
  align-items: flex-start;
  display: flex;
  height: 513px;
  margin-bottom: -266.72px;
  margin-left: -11px;
  padding: 3.4px 13.0px;
  width: 1948px;
}
.lp-1 .group-115 {
  align-items: flex-end;
  display: flex;
  height: 244px;
  overflow: hidden;
  width: 1922px;
}
.lp-1 .group-116 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 296px;
  position: absolute;
  top: 0;
  width: 1922px;
}
.lp-1 .group-125 {
  height: 14px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 263px;
  width: 304px;
}
.lp-1 .group-128 {
  align-items: flex-start;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  left: 0;
  min-width: 136px;
  position: absolute;
  top: 0;
}
.lp-1 .group-129 {
  align-items: flex-start;
  display: flex;
  margin-left: 0.87px;
  margin-top: 28px;
  min-width: 134px;
}
.lp-1 .group-130 {
  align-items: center;
  display: flex;
  margin-bottom: 16.26px;
  margin-left: 25px;
  min-width: 122px;
}
.lp-1 .group-131 {
  align-items: flex-start;
  display: flex;
  margin-bottom: 18.0px;
  margin-left: 25px;
  min-width: 185px;
}
.lp-1 .group-132 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-bottom: 15.28px;
  margin-left: 25px;
  min-width: 131px;
}
.lp-1 .group-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1537px;
  min-height: 13px;
  position: absolute;
  top: 212px;
  width: 26px;
}
.lp-1 .group-195 {
  align-items: center;
  cursor: pointer;
  display: flex;
  min-width: 133px;
}
.lp-1 .group-198 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 50px;
  left: 282px;
  min-width: 184px;
  position: absolute;
  top: 907px;
}
.lp-1 .group-199 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 50px;
  left: 282px;
  min-width: 184px;
  position: absolute;
  top: 1734px;
}
.lp-1 .group-201 {
  align-items: flex-end;
  display: flex;
  height: 92px;
  left: 885px;
  min-width: 761px;
  position: absolute;
  top: 53px;
}
.lp-1 .group-203 {
  align-items: flex-start;
  display: flex;
  height: 296px;
  left: 0;
  min-width: 1922px;
  position: absolute;
  top: 1867px;
}
.lp-1 .group-70 {
  align-items: flex-start;
  background-image: url(../img/path-23@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 112px;
  justify-content: flex-end;
  margin-bottom: 0.04px;
  min-width: 112px;
  padding: 10.2px 0.0px;
}
.lp-1 .group-71 {
  align-items: flex-end;
  background-image: url(../img/group-69@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 196px;
  margin-left: 1.51px;
  min-width: 1349px;
  padding: 39.0px 41.4px;
}
.lp-1 .group-72 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 74px;
  width: 205px;
}
.lp-1 .group-73 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 197px;
  min-height: 74px;
  width: 170px;
}
.lp-1 .group-74 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 219px;
  margin-top: 0;
  min-height: 74px;
  width: 161px;
}
.lp-1 .group-75 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 197px;
  min-height: 74px;
  width: 213px;
}
.lp-1 .group-76 {
  align-items: flex-start;
  display: flex;
  height: 74px;
  margin-top: 53px;
  min-width: 1361px;
}
.lp-1 .group-77 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 280px;
  min-height: 324px;
  position: absolute;
  top: 1301px;
  width: 1361px;
}
.lp-1 .group-78 {
  align-items: flex-end;
  background-color: var(--fuchsia);
  border-radius: 25.110666275024414px;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 184px;
  padding: 14.4px 35.2px;
}
.lp-1 .group-79 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 25.110666275024414px;
  cursor: pointer;
  display: flex;
  height: 50px;
  min-width: 184px;
  padding: 14.4px 40.4px;
}
.lp-1 .guaranteed {
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: -5px;
  margin-right: 16.61px;
  margin-top: -3px;
  min-height: 31px;
  min-width: 157px;
  white-space: nowrap;
}
.lp-1 .hear-back {
  letter-spacing: 0.60px;
  line-height: 18px;
  margin-left: 13.09px;
  min-height: 31px;
  min-width: 139px;
  white-space: nowrap;
}
.lp-1 .icon-awesome-phone-alt {
  height: 20px;
  object-fit: cover;
  width: 20px;
}
.lp-1 .icon-material-hearing {
  height: 113px;
  margin-left: 279px;
  object-fit: cover;
  width: 100px;
}
.lp-1 .icon-simple-instagram {
  height: 22px;
  object-fit: cover;
  width: 22px;
}
.lp-1 .icon-zocial-email {
  height: 17px;
  object-fit: cover;
  width: 25px;
}
.lp-1 .no-fiddling {
  letter-spacing: 0.60px;
  line-height: 18px;
  margin-right: 4.49px;
  min-height: 31px;
  min-width: 149px;
  white-space: nowrap;
}
.lp-1 .no-filtering {
  letter-spacing: 0.60px;
  line-height: 18px;
  margin-right: 3.89px;
  min-height: 31px;
  min-width: 151px;
  white-space: nowrap;
}
.lp-1 .overlap-group {
  height: 2164px;
  margin-left: -2px;
  margin-top: -115.74px;
  position: relative;
  width: 1922px;
}
.lp-1 .overlap-group1 {
  height: 296px;
  position: relative;
  width: 1922px;
}
.lp-1 .overlap-group2 {
  height: 37px;
  position: relative;
  width: 136px;
}
.lp-1 .path-24 {
  height: 62px;
  object-fit: cover;
  width: 77px;
}
.lp-1 .path-25 {
  height: 112px;
  margin-bottom: 0.49px;
  margin-left: 253px;
  object-fit: cover;
  width: 162px;
}
.lp-1 .path-26 {
  height: 112px;
  margin-bottom: 0.56px;
  margin-left: 248px;
  object-fit: cover;
  width: 110px;
}
.lp-1 .path-30 {
  height: 21px;
  object-fit: cover;
  width: 17px;
}
.lp-1 .path-42 {
  height: 590px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 426px;
  width: 1920px;
}
.lp-1 .path-984 {
  height: 4px;
  object-fit: cover;
  width: 26px;
}
.lp-1 .path-985 {
  height: 4px;
  margin-top: 5px;
  object-fit: cover;
  width: 26px;
}
.lp-1 .phone {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 15px;
  margin-top: 0.76px;
  min-height: 17px;
  min-width: 86px;
  white-space: nowrap;
}
.lp-1 .rectangle-32 {
  height: 1147px;
  left: 932px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 765px;
}
.lp-1 .rectangle-34 {
  cursor: pointer;
  height: 87px;
  left: 276px;
  object-fit: cover;
  position: absolute;
  top: 228px;
  width: 86px;
}
.lp-1 .rectangle-51 {
  background-color: var(--white);
  height: 52px;
  margin-left: 1.14px;
  width: 1921px;
}
.lp-1 .rectangle-56 {
  cursor: pointer;
  height: 48px;
  left: 275px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 48px;
}
.lp-1 .sign-me-up {
  color: var(--fuchsia);
  font-family: var(--font-family-rota-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0.80px;
  line-height: 24px;
  min-height: 21px;
  min-width: 101px;
  white-space: nowrap;
}
.lp-1 .span0 {
  letter-spacing: 0.84px;
}
.lp-1 .span1 {
  letter-spacing: 0.80px;
}
.lp-1 .text-13 {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: 28px;
  min-height: 18px;
  min-width: 205px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.lp-1 .text-14 {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: 19px;
  min-height: 18px;
  min-width: 170px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.lp-1 .text-15 {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: 19px;
  min-height: 18px;
  min-width: 161px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.lp-1 .text-16 {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: 19px;
  min-height: 18px;
  min-width: 213px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.lp-1 .text-17 {
  color: var(--white);
  font-family: var(--font-family-rota-semibold);
  font-size: var(--font-size-25_3px);
  font-weight: 600;
  left: 281px;
  letter-spacing: 0;
  line-height: 30.3px;
  mix-blend-mode: normal;
  position: absolute;
  top: 780px;
  white-space: nowrap;
}
.lp-1 .text-18 {
  height: 129px;
  left: 348px;
  letter-spacing: 0.20px;
  line-height: 22px;
  position: absolute;
  top: 110px;
  width: 230px;
}
.lp-1 .text-19 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 16.86px;
  margin-left: 25px;
  min-height: 17px;
  min-width: 5px;
  white-space: nowrap;
}
.lp-1 .text-20 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 16.86px;
  margin-left: 34px;
  min-height: 17px;
  min-width: 5px;
  white-space: nowrap;
}
.lp-1 .text-21 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 16.86px;
  margin-left: 30px;
  min-height: 17px;
  min-width: 5px;
  white-space: nowrap;
}
.lp-1 .text-22 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: -0.5px;
  margin-left: 15px;
  min-height: 17px;
  min-width: 145px;
  white-space: nowrap;
}
.lp-1 .title {
  color: var(--white);
  font-family: var(--font-family-rota-black);
  font-size: 134.6px;
  font-weight: 900;
  left: 277px;
  letter-spacing: 6.73px;
  line-height: 161.5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 459px;
  white-space: nowrap;
}
.lp-1 .why-elevator {
  left: 281px;
  letter-spacing: 3.00px;
  line-height: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1165px;
  white-space: nowrap;
}
